<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>latihan</title>
</head>
<body>
    <center><h2>-----hallo manusia yang dirahmati allah------</h2><div><class></class></div></center>

    <form method="POST">
        {% csrf_token %}
        <center>username</center>
        <center><input type="text" name="username"/></center>
       <center>pasword</center>
        <center><input type="text" name="pasword"></center>
        <center><button type="submit">submit</button></center>
    </form>
    <div>
        {% for d in data %}
        <li>username = {{ d.name }} , password = {{ d.password }}</li>
        {% endfor %}
    </div>
</body>
</html>